<div :class="style['files-list-table']">
    <md-list>
        <md-list-item>
            <div class="name">Name</div>
            <div class="type">Type</div>
            <div class="thumbnail"></div>
        </md-list-item>

        <div v-for="file in filesList"
             :key="file.id"
             class="list-item">
            <md-list-item>
                <div class="name">{{file.name}}</div>
                <div class="type">{{file.type}}</div>
                <div class="thumbnail">
                    <img class="image-size"
                         v-if="file.thumbnailURL"
                         :src="file.thumbnailURL"
                         alt="">
                </div>
            </md-list-item>
        </div>
    </md-list>
</div>