<div :class="style['files-list-table']">
    <md-list>
        <md-list-item>
            <div class="name">Name</div>
            <div class="type">Type</div>
            <div class="thumbnail"></div>
        </md-list-item>

        <div v-for="file in filesList"
             :key="file.id"
             class="list-item">
            <md-list-item>
                <div class="name">{{file.name}}</div>
                <div class="type">{{file.type}}</div>
                <div class="thumbnail">
                    <img class="image-size"
                         v-if="file.thumbnailURL"
                         :src="file.thumbnailURL"
                         alt="">
                </div>
            </md-list-item>
            <Progress v-bind:progress="file.progressData"
                      v-bind:size="file.size"
                      v-bind:speed="file.speed"></Progress>

            <div class="uploaded-url" v-if="file.url">
                <div class="header-url">Uploaded on:</div>
                <div class="link">
                    {{file.url}}
                </div>
            </div>

            <div class="exif-data"
                 v-for="exif in file.exifData"
                 :key="exif.name">
                <span class="label">{{exif.name}}</span>: {{exif.value}}
            </div>
        </div>
    </md-list>
</div>